<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("layouts/header.ejs") %>
    <title>EcoGYM</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <h2>EcoGym</h2>
                <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/report">Report</a>
                        </li>
                    </ul>

                    <button type="button" onclick="logout()" class="btn btn-secondary">Log out</button>
                </div>
            </div>
        </nav>
    </header>
    <%= wallets %>
    <%= listTrans %>
    <%= mess %>
    <section class="body-page container d-flex justify-content-center">
        <section class="transactions mt-5" style="width: 900px">
            <div>
                <ul class="nav nav-tabs d-flex justify-content-evenly">
                    <li class="nav-item">
                        <a class="nav-link link-trans" aria-current="page" href="#week">This week</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-trans active" href="#today">Today</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-trans" href="#month">This month</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-trans disabled">This year</a>
                    </li>
                </ul>
            </div>
            <div class="flow">
                <div class="inflow d-flex justify-content-between">
                    <p>Inflow</p>
                    <p class="money-in">40000</p>
                </div>
                <div class="outflow d-flex justify-content-between">
                    <p>Outflow</p>
                    <p class="money-out">40000</p>
                </div>
                <hr style="width: 50%; margin-left: 50%;">
                <div class="outflow d-flex justify-content-end">
                    <p class="money-out">40000</p>
                </div>
            </div>
            <div id="week" class="trans-content mt-3 d-none">1</div>
            <div id="today" class="trans-content mt-3">
                <div class="trans-item mb-2 p-3"
                    style="border-top: 2px solid grey; background-color: rgb(226, 226, 226);">
                    <div class="trans-category mt-2 d-flex justify-content-between">
                        <h3 class="trans-category-name">Cafe</h3>
                        <div class="trans-btn">
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                    <div class="trans-info">
                        <div class="trans-info-top d-flex justify-content-between mt-2">
                            <p class="trans-time">04/03/2023</p>
                            <h5 class="money">-20000</h5>
                        </div>
                        <div class="trans-info-bot d-flex justify-content-start mt-2">
                            <p class="trans-desc">đen đá không đường</p>

                        </div>
                    </div>
                </div>
            </div>
            <div id="month" class=" trans-content mt-3 d-none">3</div>
            <button class="btn"><a href="/transaction/create">Add Transaction</a></button>
        </section>


    </section>
    <!-- <select class="form-select" aria-label="Default select example">
        <option selected>Wallet</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select> -->

    <!-- script -->
    <%- include("layouts/b5script.ejs") %>
    <script>
        // active class transaction
        let transContents = document.querySelectorAll(".trans-content");
        let btnLinks = document.querySelectorAll(".link-trans");
        function addDnoneClass(listContent) {
            listContent.forEach(content => {
                content.classList.add("d-none")
            })
        }
        function removeActiveClass(listBtn) {
            listBtn.forEach(btn => {
                btn.classList.remove("active");
            })
        }
        function activeTrans() {
            for (let i = 0; i < btnLinks.length; i++) {
                btnLinks[i].addEventListener('click', () => {
                    addDnoneClass(transContents)
                    removeActiveClass(btnLinks)
                    btnLinks[i].classList.add("active");
                    transContents[i].classList.remove("d-none")
                })
            }
        }
        activeTrans()
        // logout
        let logout = () => {
            axios({
                method: 'get',
                url: 'http://localhost:3000/api/logout',
            }).then(result => {
                window.location.replace(
                    `http://${window.location.hostname}:${window.location.port}/auth/login`
                )
            })
        }
    </script>

</body>



</html>